<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> To Do List </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="app">
        <header>
            <h1>Edit your task</h1>
        
                <form action="/update/<%= task.id %>" method="POST">
                    <input type="text" name="task" id="task" value="<%= task.task %>">
                    <button id="updateButton" type="submit">Update task</button>
                </form>
        </header>
    </div>

<script src="/script.js"></script>
</body>
</html>