<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> To Do List </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="app">
        <header>
            <h1>Things that I need to do</h1>
        
                <form action="/insert" method="POST">
                    <input type="text" name="task" id="task" placeholder="Insert your task">
                    <button id="addButton" type="submit">add</button>
                </form>
                <hr>
        </header>

        <section>
            <ul>
                <% taskData.forEach(task => { %>
                        <li>
                            <%= task.task %>
                            <div>

                                <form action="/getOne/<%= task.id %>" method="GET">
                                    <button id="editButton" type="submit">Edit</button>
                                </form>
                                    
                                <form action="/delete/<%= task.id %>" method="POST">
                                    <button id="deleteButton" type="submit">Delete</button>
                                </form>
                            </div>

                        </li>
                <% }) %>
            </ul>
        </section>
    </div>

<script src="script.js"></script>
</body>
</html>